// GENERAL

// Colours

$black: #373a3c;

$green: #28a745;
$red: #dc3545;

$lightest-grey: #f9f9f9;
$light-grey: #f5f5f5;
$mid-grey: #eee;
$dark-grey: #999;

// Spacing

$xs-section: 20px;
$sm-section: 30px;
$md-section: 40px;

$generic-gutter: 15px;
$generic-radius: 5px;
$text-gutter: 5px;

$header-height: 50px;
