.table
{
    margin: 0;
    border: 0;

    th,
    td
    {
        padding: 10px;
        border: 0;
    }

    th
    {
        font-weight: $font-weight-bold;
    }

    thead
    {
        th
        {
            border: 0;
        }
    }

    &.table-bordered
    {
        border: 0;

        th,
        td
        {
            border: 0;
        }
    }
}

div.dataTables_wrapper
{
    padding: 0;

    .dt-buttons
    {
        .dt-button
        {
            margin-left: 5px; 
        }
    }

    .dataTable
    {
        margin: $generic-gutter 0 0 !important;
        border-collapse: collapse !important;

        th.row-id,
        td.row-id
        {
            width: 5%;
        }

        th.action,
        td.action
        {
            width: 10%;
        }

        tr
        {
            transition: all 0.2s;

            td
            {
                vertical-align: middle;

                &:first-child
                {
                    cursor: pointer;
                }
            }

            &.selected
            {
                background-color: $mid-grey;
            }

            &.child
            {
                padding: 0;

                td.child:first-child
                {
                    padding: 5px 15px;
                }

                ul.dtr-details
                {
                    width: 100%;
                    font-size: $font-size-sm;

                    span.dtr-title
                    {
                        font-weight: $font-weight-bold;
                    }

                    li
                    {
                        display: flex;
                        white-space: normal;
                        padding: 8px 0;

                        &:first-child
                        {
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        thead
        {
            th
            {
                vertical-align: middle;
            }
        }

        &.nowrap
        {
            th,
            td
            {
                max-width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &.dtr-inline.collapsed
        {
            > tbody
            {
                > tr > td.row-id
                {
                    padding-left: 40px;
                    background-image: url('../images/icons/arrow-down-black.svg');
                    background-repeat: no-repeat;
                    background-position: 15px center;
                    background-size: 12px;

                    &::before
                    {
                        display: none;
                    }
                }

                > tr.parent > td.row-id
                {
                    background-image: url('../images/icons/arrow-up-black.svg');
                }
            }
        }
    }

    .dataTables_length,
    .dataTables_info,
    .dataTables_paginate
    {
        font-size: $font-size-sm;
    }

    .dataTables_info
    {
        .select-info
        {
            display: inline-block;
            margin-left: 8px;
            font-weight: $font-weight-bold;
        }
    }

    .dataTables_processing
    {
        border: 0;
        background: transparent;
    }

    .filters
    {
        .select-rows-header
        {
            font-size: 0;
            line-height: 0;
        }

        #select-rows
        {
            display: none;

            + label
            {
                display: inline-block;
                margin: 0;
                height: 20px;
                width: 20px;
                font-size: 0;
                line-height: 0;
                background-image: url('../images/form-components/checkbox-unchecked.svg');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: contain;
                cursor: pointer;

            }

            &:checked + label  { background-image: url('../images/form-components/checkbox-checked.svg') }
            &:disabled + label { background-image: url('../images/form-components/checkbox-disabled.svg') }
        }

        .form-control
        {
            padding: 7px 10px;
            line-height: 1;
        }

        select.form-control:not([size]):not([multiple])
        {
            height: calc(0.875rem * 1.5 + 10px + 2px);
            min-width: 85px;
        }
    }

    div.dataTables_length
    {
        label
        {
            margin: 0;
        }

        select
        {
            margin: 0 5px;
            width: 65px;
        }
    }

    div.dataTables_info
    {
        padding: 0;
    }
}

.dt-button-info
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 999;
    font-size: $font-size-sm;

    h2
    {
        margin-bottom: 5px;
        font-size: $font-size-base;
    }
}

.pagination
{
    margin: 0 -2px;
    border-radius: 0;

    .page-item
    {
        i
        {
            margin: 0;
        }

        .page-link
        {
            margin: 0 2px;
            border: 0;
            min-width: 2rem;
            text-align: center;
        }

        &:first-child .page-link,
        &:last-child .page-link
        {
            border-radius: 0;
        }
    }
}

.table + nav
{
    margin-top: $xs-section;

    .pagination
    {
        justify-content: flex-end;
    }
}

// MEDIA QUERIES

@include tabletPortrait
{
    .table
    {
        th,
        td
        {
            padding: 8px;
        }
    }

    div.dataTables_wrapper
    {
        .dataTable
        {
            &.dtr-inline.collapsed
            {
                > tbody
                {
                    > tr > td.row-id
                    {
                        padding-left: 30px;
                        background-position: 12px center;
                        background-size: 10px;
                    }
                }
            }
        }

        .filters
        {
            display: none;
        }

        div.dataTables_info
        {
            text-align: center;
        }

        div.dataTables_paginate
        {
            ul.pagination
            {
                justify-content: center;
            }
        }
    }

    .pagination
    {
        justify-content: center;
    }

    .table + nav
    {
        .pagination
        {
            justify-content: center;
        }
    }
}

// MEDIA QUERIES

@include mobile
{
    .table
    {
        &.mobile-block
        {
            td
            {
                display: block;

                p
                {
                    margin-bottom: 0;
                }

                &:first-child,
                &:first-child.d-none + td
                {
                    font-weight: $font-weight-bold;
                }

                &:not(.d-none) + td
                {
                    padding-top: 0;
                }
            }

            thead
            {
                display: none;
            }

            tbody
            {
                font-size: 12px;
            }
        }
    }

    div.dataTables_wrapper
    {
        .dataTable
        {
            margin: 0 !important;

            &.nowrap
            {
                th,
                td
                {
                    max-width: 270px;
                }
            }
        }

        .dataTables_info
        {
            .select-info
            {
                display: block;
                margin: 8px 0 0;
            }
        }
    }

    .pagination
    {
        .page-item
        {
            display: none;

            &:first-child,
            &:nth-child(2),
            &:nth-last-child(2),
            &:last-child,
            &.active,
            &.disabled
            {
                display: block;
            }
        }
    }
}
