.mail-box
{
    display: flex;

    .sm-side
    {
        background-color: $light-grey;
        width: 25%;
    }

    .lg-side
    {
        margin-left: $xs-section;
        width: 75%;
    }
}

.inbox-nav
{
    @include ul-styles;

    li
    {
        display: block;

        a
        {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            color: $black;
            @include no-line;
        }

        i
        {
            padding-right: 10px;
        }

        span
        {
            margin-left: auto;
            padding-left: $generic-gutter;
        }

        &:hover
        {
            background-color: darken($light-grey, 5%);

            a
            {
                color: #000;
            }
        }

        &.active
        {
            background-color: $mid-grey;
        }
    }
}

.mail-option
{
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;

    .btn-group
    {
        a.btn
        {
            display: inline-block;
            padding: 8px 10px;
            border: 0;
            border-radius: 0;
            background-color: $light-grey;
            color: $black;

            &:hover
            {
                background-color: darken($light-grey, 5%);
                color: #000;
            }

            &:focus,
            &:active,
            &:active:focus
            {
                border: 0;
                box-shadow: none;
            }
        }
    }
}

// MEDIA QUERIES

@include tabletPortrait
{
    .mail-box
    {
        display: block;
        margin-top: $xs-section;

        .sm-side
        {
            width: 100%;
        }

        .lg-side
        {
            margin-top: $sm-section;
            margin-left: 0;
            width: 100%;
        }
    }

    .mail-option
    {
        margin-bottom: 0;
    }
}

@include mobile
{
    .mail-box
    {
        margin-top: 0;
    }
}
